@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Castoro:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
}

.title img {
    width: 100px;
}

.title h1 {
    font-size: 4rem;
    margin: 0;
    align-self: flex-end;
}

.search {
    display: flex;
    margin: 20px;
}

.search input {
    flex: 1;
    padding: 10px;
    border: 1.75px solid black;
    border-radius: 5px 0 0 5px;
}

.search button {
    border: 1.75px solid black;
    background: white;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.search img {
    width: 30px;
}

.divider {
    border: none;
    border-top: 1px solid #aaa;
    margin: 20px;
}

h1, h2 {
    font-family: Amatic SC, sans-serif;
}

.recipe-card {
    border: 1.75px solid black;
    border-radius: 6px;
    padding: 15px;
    margin: 20px;
}

.recipe-card img {
    width: 100%;
}

.category {
    border: 1px solid #C2C2C2;
    background-color: #E6E6E6;
    padding: 3px 3px;
    border-radius: 3px;
    font-size: 0.9rem;
    display: inline-block;
    margin-top: 2px;
}

.recipe-details h2 {
    color: #23B6DB;
    font-size: 2rem;
    margin: 5px 0;
}

.rating {
    display: block;
    margin-bottom: 10px;
}

.recipe-details p {
    display: none;
}

.social {
    display: flex;
    gap: 2px;
    margin-bottom: 20px;
}

.social img {
    width: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-size: 0.8rem;
}

@media screen and (min-width: 700px) {
    .recipe-card {
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }

    .recipe-card img {
        width: 350px;
    }

    .category {
        margin-bottom: 40px;
    }

    .recipe-details {
        flex: 1;
    }

    .recipe-details p {
        display: block;
        font-size: 0.9rem;
        line-height: 1.4;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}