@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    background-color: #D1D1D1;
}
header,
footer {
    margin: 0 auto;
    padding: 1rem;
    background-color: #2D7DD2;
}
h1 {
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    font-size: 1.7rem;
}
main h2 {
    grid-column: 1 / -1;
}
section {
    background-color: white;
    padding: 0.3rem;
    margin: 1.2rem auto;
    max-width: 300px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}
section img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}
nav a {
    padding: 20px;
    color: white;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-container {
    display: flex;
    justify-content: center;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
}
.menu-btn:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    color: white;
}

@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        column-gap: 5rem;
        row-gap: 0rem;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: repeat(3, auto);
        column-gap: 3rem;
        row-gap: 0rem;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: center;
    }
}