@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #D1D1D1;
}
header,
footer {
    margin: 0 auto;
    padding: 1rem;
    background-color: #2D7DD2;
}
h1 {
    text-align: center;
    color: white;
}
h2{
    text-align: center;
}
section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: white;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-container {
    display: flex;
    justify-content: center;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
}
.menu-btn:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    color: white;
}

@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: center;
    }
}