body {
    font-size: 20px;
}
#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}
#para1 {
    color: #035f9c;
    margin-bottom: 1px;
    letter-spacing: 2px;
}
#para2 {
    text-align: left;
}
#para3 {
    font-style: italic;
    text-align: left;
}
hr {
    background-color: #ddd;
    width: 65%;
    margin-bottom: 60px;
    margin-top: 1px;
}
h1, p {
    text-align: center;
}
img {
    width: 40%;
    display: block;
    margin: 70px auto;
}
#explain {
    line-height: 1.5em;
    margin: 0 auto;
    width: 65%;
}
h1 {
    font-family: "Times New Roman", serif;
    letter-spacing: 2px;
}