@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    padding: 1rem;
    text-align: center;
    font-family: Castoro, sans-serif;
}
header::after {
    content: "";
    display: block;
    border-bottom: 1px solid #ffc107;
    margin-top: 2.5rem;
}
footer {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ffc107;
    border-bottom: 1px solid #ffc107;
}
nav {
    width: 100%;
    border-top: 1px solid #ffc107;
    border-bottom: 1px solid #ffc107;
    display: flex;
    justify-content: flex-end;
}
.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #B22222;
    text-decoration: none;
}
#book-list {
    padding: 0 2rem;
}
.book {
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 40px auto;
}
.book h2 {
    color: #B22222;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
    font-family: Castoro, sans-serif;
}
.book p {
    padding-left: 20px;
}
.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}
.stats {
    text-align: right;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

.stats li {
    margin: 0;
}

@media (min-width: 600px) {
    header::after {
        display: none;
    }
    .book {
        display: grid;
        grid-template-columns: 180px 1fr;
        column-gap: 2rem;
        position: relative;
        max-width: 1000px;
    }
    .book::before {
        content: "";
        position: absolute;
        left: calc(180px + 1rem);
        top: 0;
        bottom: 0;
        border-left: 1px solid #ffc107;
    }
    .stats {
        grid-column: 1;
        text-align: right;
        padding-right: 2rem;
    }
    .book h2,
    .book img,
    #desc {
        grid-column: 2;
        text-align: left;
    }
    .book img {
        margin-left: clamp(2rem, 17vw, 13rem);
    }
    #desc {
        grid-column: 2;
        max-width: 100%;
        padding-left: 0;
    }
}